<mat-toolbar color="primary" *ngIf="currentView === 'shooters'">
  <mat-icon class="icon">menu</mat-icon>
  <span style="padding: 0 14px;">{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onSearch()">
    <mat-icon class="icon">search</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color="secondary" *ngIf="currentView === 'search'">
  <button mat-icon-button (click)="onCloseSearch()">
    <mat-icon matPrefix style="padding: 0 14px 0 0;">cancel</mat-icon>
  </button>
  <mat-form-field floatLabel="never">
    <input matInput placeholder="Search" [formControl]="searchBox">
  </mat-form-field>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="currentView === 'person' || currentView === 'firearms'">
  <button mat-icon-button (click)="onBack()" style="z-index: 25">
    <mat-icon class="icon">arrow_back</mat-icon>
  </button>
  <span class="title-centered">{{title}}</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="currentView === 'firearm'">
  <button mat-icon-button (click)="onBacktoShooter()" style="z-index: 25">
    <mat-icon class="icon">arrow_back</mat-icon>
  </button>
  <span class="title-centered">{{title}}</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="currentView === 'qualification'">
    <button mat-icon-button (click)="onBacktoShooter()" style="z-index: 25">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
    <span class="title-centered">{{title}}</span>
    <span class="spacer"></span>
  </mat-toolbar>